* {
    padding: 0;
    margin: 0;
}

body {
    background: #f8f9fc;
}

header {
    background-image: url(Assets/Hero-bg.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* position: absolute; */

}

nav ul li {
    list-style: none;
    color: blue;
    font-size: 25px;
    font-weight: bold;


}

.nav_container {
    display: flex;
    justify-content: space-between;
    border: 20px;
    padding: 30px;
    align-items: center;
    margin: 0px 50px 80px 50px;

}

.btn {

    background: rgba(133, 71, 255, 1);
    color: white;
    font-weight: bold;
    font-size: 8px;
    padding: 12px;
    border-radius: 10px;
}

h1 {

    margin-bottom: 20px;
    font-size: 45px;
}

.sec_container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn1 {

    background: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 8px;
    padding: 12px;
    border-radius: 10px;
}

.btn1:hover{
     background: rgb(209, 207, 105);
     border: 5px solid white;
      color: black;
}

.btn:hover{
     background: rgb(209, 207, 105);
     border: 5px solid white;
     color: black;
}
.parent_container {

    display: flex;
    justify-content: space-between;
    border: 20px;
    padding: 0px;
    align-items: center;
    margin: 0px;
}

.parent_container img {
    border-radius: 48px;
    height: 200px;
}

.child1 {
    margin-bottom: 10px;
}

.user_cnt {
    display: flex;
    gap: 180px;
    font-size: 10px;
    margin-bottom: 38px;

}
.user_prent h2{
     margin-top: 30px;
}
.user_prent {
    background: rgba(78, 71, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.see-prent {

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;

}


.see_container {
    border: 20px;
    padding: 30px;
    align-items: center;
    margin: 0px 50px 0px 50px;
}

.per_child>h1 {
    color: blue;
    margin-top: 20px;
}

.cards_childs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    border-radius: 14px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 15px;
}

.cards-img-avatar {
    display: flex;
    gap: 5px
}

.cards {
    display: flex;
    justify-content: space-around;
    border: 2px soid white;


}

.cards-img-avatar>img {
    border-radius: 50px;
}

.ready {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 40px;
    border-radius: 20px;
}

.ready img {
    width: 60vw;
    margin-bottom: 60px;
    border-radius: 48px;
}

.input_container {

    border: 20px;
    padding: 30px;
    align-items: center;
    margin: 0px 50px 0px 50px;
    display: flex;
    justify-content: space-around;
    
}

.input{
    display: flex;
    flex-direction: column;
    gap:10px;
}

::placeholder {
    margin: 10px;
    padding: 10px;
    border: 10px;
    
}

input, textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
}

.input-btn{

   background: #4E47FF;
    color: white;
    font-size: 10px;
    padding: 17px;
    border-radius: 10px;
    width: 112%;
}

.input-btn:hover{
     
     background: rgb(209, 207, 105);
     border: 5px solid white;
     color: black;
}

label{
     font-weight: bold;
}

.footer-container{
    text-align: center;
    margin-top: 20px;
    background:white;
}

.footer-nav ul li{
    list-style: none;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 15px;
    padding-bottom: 50px;
    color: #8987A1;

}

.footer-container > h1{
    margin-top: 32px;
    padding-top: 54px;
    color: blue;
}

.footer-container > p{
    color: #8987A1;
}

.ready >p{
    color: #8987A1;
}

 p.child1{
    color: #8987A1;
}

.card-img-text > p{
       color: #8987A1;
}

.per_child > h1{
    margin-top: 20px;
    margin-bottom: 0px;
    
}


.per_child > p{
     color: #8987A1;
}
.per_child{
    text-align: center;
}

.input_container > h1{
     font-size: 60px;
}